/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  
}
.page {
    background-image: url(../images/anonymous-server-background.jpg), linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Slab', serif;
    position: relative;
    display: flex;
    flex-direction: column;
    
}




/* HEADER */
.page__header {
    display: flex;
    justify-content: flex-end;
    width: 100%;

}
.nav-trigger {
    background-image: url(../images/ico-menu.svg);
    background-color: #212121e5;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: transparent;
    transition: all 0.3s ease;
}

.nav-trigger:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

/* MENU */
.nav {
    position: fixed;
    background-color: #402929;
    opacity: 0.92;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    right: -800px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    /* -moz-transition: all 2s ease-in-out; /** Firefox **/
    /* -o-transition: all 2s ease-in-out; * Opera * */ 
}

.nav__transition{
    right: 0px;
}

.nav__items {
    list-style: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.nav__item {}
.nav__link {
    text-decoration: none;
    color: white;
}
.nav-close {
    position: absolute;
    background-image: url(../images/ico-close.svg);
    background-color: #212121e5;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: transparent;
    transition: all 0.3s ease;
    top: 20px;
    right: 20px;
}

.nav-close:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}



/* MAIN */
.page__main {
 
}
.page__wrapper {}
.page__main-title {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 270px;
    margin-left: 30px;
    padding-right: 70px;
    color: white;
}




/* FOOTER */
.page__footer { 
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.page__footer-wrapper {
    background: rgba(128, 128, 128, 0.534);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80%;

}
.page__footer-copy {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.534);
    
}

@media all and (min-width:768px) {
    .page__main-title {
        padding-right: 350px;
        font-size: 60px;
        margin-top: 500px;
        margin-left: 50px;
    }

    .nav-trigger {
        width: 60px;
        height: 60px;
    }

    .nav-close {
        width: 60px;
        height: 60px;
    }

    .nav {
        right: -1200px;
        transition: all 0.5s ease-in;
        -webkit-transition: all 2s ease-in-out;
    }

    .nav__transition{
        right: 0px;
    }

    .nav__items {
        font-size: 40px;
    }
}

@media all and (min-width:1024px) {
    .nav {
        right: -1450px;
        transition: all 0.5s ease-in;
        -webkit-transition: all 2s ease-in-out;
    }

    .nav__transition{
        right: 0px;
    }

    .nav-trigger {
        width: 50px;
        height: 50px;
    }

    .nav-close {
        width: 50px;
        height: 50px;
    }

    .page__main-title {
        padding-right: 350px;
        font-size: 80px;
        margin-top: 250px;
        margin-left: 200px;
    }
}